body{
    background-color:aliceblue;
    font-size:1.25em;
    margin:0;
}

.navbar{
    display:flex;
    justify-content: flex-end;
}
.navbarbutton{
    align-items:center;
    justify-content:center;
    margin-left:10%;
    transition: opacity 400ms ease-in-out,display 500ms allow-discrete;
    
}
   


#navbarbutton4{
    transition:rotate 400ms;
}
#navimg{
    height:3vh;
    width:3vw;
    transition: rotate 400ms;
    
}




.topicintro{
    display:flex;
    justify-content:center;
    width:50%;
   
    position:relative;
    left:50%;
    flex-direction:column;
}
#topictitle{
    font-size:5em;
}
.formation{
    width:70%;
    margin:auto;
}
#fretagid{
    max-width:100%;
    height:auto;
}
.firstinteractive{
    margin-block: 20%;
    position:relative;
    padding-top:56.25%;
    width:100%;
}
#firstinteractivevid{
    height:100%;
    width:100%;
    z-index:-100;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.firstdecoration{
    top:0;
    width:100%;
    height:51%;
    z-index:100;
    position:absolute;
    background-color:yellow;
    animation: videosummon-top 4s;
    animation-fill-mode:forwards;
}
.secondecoration{
    bottom:0;
    width:100%;
    height:51%;
    z-index:100;
    position:absolute;
    background-color:yellow;
    animation: videosummon-top 4s;
    animation-fill-mode:forwards;
}

@keyframes videosummon-top{
    0% {left:100%;}
    50% {left: 0%;}
    100% {left:-100%;}
}

